<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="The name was set from testng file"> <!--name defines the name of the test that we will execute-->


        <classes> <!--classes specify from which classes we want tests to be executed-->
            <class name="GroupingTest"/>
            <class name="FirstPageTest"/>
        </classes>


    </test>
</suite>