<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Test Suite"> <!-- Here you set the name of the test suite!-->
    <test name="The name was set from testng file"> <!--name defines the name of the test set that we will execute-->

        <!--
        Supported browsers
        1) chrome
        2) firefox
        -->
        <parameter name="browser" value="chrome"/>

        <!--
        Supported environments
        1) qa
        2) uat
        3)live
        -->
        <parameter name="environment" value="qa"/>

        <groups> <!--groups defines the name of the groups that we will execute-->
            <run>
                <include name="smoke"/>
            </run>
        </groups>

        <classes> <!--classes specify from which classes we want tests to be executed-->
            <class name="MailosaurTesting"/>
        </classes>

    </test>
</suite>